*{
    box-sizing: border-box;
}
body{
    font-family: Arial;
    padding:10px;
    background: #f1f1f1; 
}
/* Header blog title */
.header{
    padding:10px ;
    text-align:center ;
    background:white;
    width:80%;
    margin:auto;
}
.topnav{
    overflow: hidden;
    background-color:darkblue;
    width:80%;
    margin:auto;
}
/* getting rid of the bullet point */
.topnav ul{
    list-style-type:none;
}
.topnav a{
    float:left; /*to place them one after another */
    color: #f2f2f2;
    text-align:center ;
    padding:14px ;
    text-decoration:none;  /for removing the underline in the link/
    letter-spacing: 1px;
    height: 70px;
}
/* Change color on hover */
.topnav a:hover{
    color:red;
}
.main{
    width:80%;
    margin:auto;
}
.card{
    background-color:white;
    padding:10px;
    margin-top: 20px;
}
/* After the row it should be applied,basically to pull the footer content to the down of the page */
.row:after{
    content:"";/footer comes to the down of the page/
    display: table;/look like a table/
    clear:both;   /clearing the floating effect/
}
.footer{
    padding:20px ;
    text-align: center;
    background: #dddddd;
    margin-top: 20px;
    width: 80%;
    margin:auto;
}
.cc{
    float:left;
    padding:5px;
}
img{
    width: auto;
    max-width: 185px;/if image is even,then it should take this width as max/
    height: auto;
}
.container{
    padding:16px;
    width:350px;
    margin:auto;
}
input[type=text],input[type=password],input[type=email],input[type=tel]{
    width: 100%;
    padding:12px 20px;
    margin:8px 0;
    display: inline-block;
    border:1px solid #cccccc;
    box-sizing:border-box;
}
button{
    background-color:darkblue;
    color:white;
    padding:14px,20px;
    margin:8px 0;
    border:none;
    cursor:pointer;
    width:100%
}

button:hover{
    opacity:0.8; /transperancy/
}

.cancelbtn{
    width: auto;
    padding:10px 18px;
    background-color: #f44336;
}